VITE_FIREBASE_API_KEY=AIzaSyAg0PiyIztGf22vNw9NpOvYhVhpFIogYj0
VITE_FIREBASE_AUTH_DOMAIN=cookiestation-b51f0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cookiestation-b51f0
VITE_FIREBASE_STORAGE_BUCKET=cookiestation-b51f0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=917204353989
VITE_FIREBASE_APP_ID=1:917204353989:web:877049ff6ea43820ea81ac
VITE_FIREBASE_MEASUREMENT_ID=G-KFPK98XQLB

